<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skrumble.picketeditor" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <application
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.CameraActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/ApplicationTheme"/>

        <activity
            android:name=".activity.ImageCropActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/ApplicationTheme"/>

        <activity android:name=".activity.GalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ApplicationTheme"/>

        <activity android:name=".editor.video.VideoTrimmerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ApplicationTheme"/>

    </application>

</manifest>
