<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skrumble.picketeditor" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".picker.activity.PickerActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/ApplicationTheme"/>

        <activity
            android:name=".editor.image.ImageCropActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/ApplicationTheme"/>

        <activity android:name=".gallery.GalleryActivity"
            android:theme="@style/ApplicationTheme"/>

    </application>

</manifest>
